<div *ngIf="movie" class="movie-details">
    <div>
        <h1 class="movie-title">{{movie.title}} ({{releaseDate.getFullYear()}})</h1>
        <mat-chip-list class="genre-chips">
            <mat-chip *ngFor="let genre of movie.genres" [routerLink]="['/movies/search']"
                [queryParams]="{title: '',genreId: genre.id}">
                {{genre.name}}
            </mat-chip>
        </mat-chip-list>
        <div class="movie-info">
            <span class="release-date">Fecha de Lanzamiento: {{releaseDate.toDateString()}}</span>
            <span class="average-vote">Promedio de Votos: {{movie.averageVote}}</span>
            <span class="user-vote">Tu Voto: <app-rating (rated)="rated($event)"
                    [ratingSelected]="movie.userVote"></app-rating></span>
        </div>

        <div class="content">
            <div class="poster-trailer">
                <div>
                    <img [src]="movie.poster" class="movie-poster">
                </div>
                <div *ngIf="movie.trailer" class="movie-trailer">
                    <iframe width="560" height="315" [src]="trailerURL" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="summary">
                <h2 class="section-title">Resumen</h2>
                <div>
                    <markdown [data]="movie.summary" ngPreserveWhitespaces></markdown>
                </div>
            </div>

            <div class="cast">
                <h2 class="section-title">Reparto</h2>
                <div class="actor-list">
                    <div *ngFor="let actor of movie.actors" class="actor">
                        <img [src]="actor.photo" class="actor-photo">
                        <div class="actor-details">
                            <span class="actor-name">{{actor.name}}</span>
                            <span class="actor-character">{{actor.character}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div *ngIf="coordinates.length > 0" class="map-container">
                <h2 class="section-title">Disponible en los siguientes cines</h2>
                <app-map class="mapa" [initialCoordinate]="coordinates" [onlyReading]="true"></app-map>
            </div>
        </div>
    </div>
</div>

<mat-spinner *ngIf="!movie"></mat-spinner>